
@{
    ViewData["Title"] = "Beta";
  
}

<p>This is a Beta Fish</p>
<img src="https://www.poisson-or.com/35054-large_default/betta-splendens-male-combattant-half-moon-les-patrons-de-coloration-peuvent-varier.jpg" />